<form action="/add" method="POST">


    <p> Título: </p>
    <input type="text" name='titulo'>

    <p> Conteúdo: </p>
    <input type="text" name='conteudo'>

    <p><button type="submit">Cadastrar Postagem</button></p>

</form>